<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp_backend.mvoinfo.mapper.BrandMapper">
    <insert id="insert"  parameterType="Brand">
        insert into brd_brand values(null, #{man_id},#{name_en},#{name_cn},#{created_by},#{creation_date},#{last_update_by},#{last_update_date},#{call_cnt},
            #{remark},null, #{img_url})
    </insert>

    <update id="update" parameterType="User">
        update brd_brand
        set MAN_ID = #{man_id}, NAME_EN = #{name_en}, NAME_CN = #{name_cn}, CREATED_BY = #{created_by},
            CREATION_DATE = #{creation_date}, LAST_UPDATE_BY = #{last_update_by}, LAST_UPDATE_DATE = #{last_update_date},
            CALL_CNT = #{call_cnt},REMARK = #{remark}, IMG_URL=#{img_url} where BRD_ID = #{brd_id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from brd_brand where BRD_ID=#{brd_id}
    </delete>

    <select id="getAll" resultMap="_brand">
        select * from brd_brand
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_brand">
        select * from brd_brand where BRD_ID=#{brd_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_brand">
        select * from brd_brand
        <where>
            <if test="BRD_ID != null">BRD_ID = #{brd_id}</if>
            <if test="MAN_ID != null">and MAN_ID = #{man_id}</if>
            <if test="NAME_EN != null">and NAME_EN = #{name_en}</if>
            <if test="NAME_CN != null">and NAME_CN = #{name_cn}</if>
            <if test="CREATED_BY != null">and CREATED_BY = #{created_by}</if>
            <if test="CREATION_DATE != null">and CREATION_DATE = #{creation_date}</if>
            <if test="LAST_UPDATE_BY != null">and LAST_UPDATE_BY = #{last_update_by}</if>
            <if test="LAST_UPDATE_DATE != null">and LAST_UPDATE_DATE = #{last_update_date}</if>
            <if test="CALL_CNT != null">and CALL_CNT = #{call_cnt}</if>
            <if test="REMARK != null">and REMARK = #{remark}</if>
            <if test="IMG_URL != null">and IMG_URL = #{img_url}</if>
        </where>
    </select>

    <resultMap id="_brand" type="Brand">
        <id column="BRD_ID" property="brd_id"/>
       <result column="MAN_ID" property="man_id" />
       <result column="NAME_EN" property="name_en" />
       <result column="NAME_CN" property="name_cn"  />
       <result column="CREATED_BY" property="created_by"  />
       <result column="CREATION_DATE" property="creation_date"  />
       <result column="LAST_UPDATE_BY" property="last_update_by"  />
       <result column="LAST_UPDATE_DATE" property="last_update_date"  />
       <result column="CALL_CNT" property="call_cnt"  />
       <result column="REMARK" property="remark"  />
        <result column="IMG_URL" property="img_url" />
    </resultMap>
</mapper>
